<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <link rel="stylesheet" href="../static/css/api.css" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="../static/ico/1616.ico"/>
</head>
<body>
<div id="top_div">
    <p><b>学习,进步,提高，质量，效率。
    </b></p>
</div>
<div id="api">
    <h1>开发中，预计在2021年3月31号前上线</h1>
</div>
<a href="/" id="mid">
    <h3>返回首页</h3>
</a>
<div id="gg">
    <p><b>告知：自动生成的测试数据仅用来测试，禁止用于非法途径。告知：自动生成的测试数据仅用来测试，禁止用于非法途径。
        告知：自动生成的测试数据仅用来测试，禁止用于非法途径。
    </b></p>
</div>
</body>
</html>