<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <link rel="stylesheet" href="../static/css/api.css" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="../static/ico/1616.ico"/>
</head>
<body>
<div id="top_div">
    <p><b>学习,进步,提高，质量，效率。
    </b></p>
</div>
<div id="api">
    <div>
        <a href="">
            <h1><b>GET：接口文档</b></h1>
        </a>
    </div>
    <div>
        <a href="">
            <h1><b>POST：接口文档</b></h1>
        </a>
    </div>
</div>
<a href="/" id="mid">
    <h3>返回首页</h3>
</a>
<div id="gg">
    <p><b>告知：自动生成的测试数据仅用来测试，禁止用于非法途径。告知：自动生成的测试数据仅用来测试，禁止用于非法途径。
        告知：自动生成的测试数据仅用来测试，禁止用于非法途径。
    </b></p>
</div>
</body>
</html>