<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试小工具</title>
    <style type="text/css">
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
<div>
    <from id="from_id">
        <table>
            <tr>
                <td>
                    <a href="/">
                        <h1>制造测试数据</h1>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="test_all.html">
                        <h1>UI自动化定位方式练习</h1>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="monkey.html">
                        <h1>生成Monkey命令</h1>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                    <br/>
                    <br/>
                </td>

            </tr>
            <tr>
                <td>
                    <br/>
                    <br/>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>声明：测试数据仅用于测试使用，不可用于非法途径</h1>
                </td>
            </tr>
        </table>
    </from>
</div>
</body>
</html>