<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试数据自动生成</title>
    <link rel="stylesheet" href="../static/css/message.css" type="text/css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 官网提供的 axios 在线地址 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/ico/1616.ico"/>
</head>
<body>
<div id="top_div">
    <p><b>学习，提高，质量，效率。
    </b></p>
</div>
<h1>测试数据自动生成</h1>
<form id='get_message_form'>
    <table>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                <input type="button" id="all_button" value="重新获取全部的测试数据" class="test_button" @click="get_all"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>用户姓名:</p>
            </td>
            <td>
                <input id="username" name="username" class="text_input" v-model="name"/>
            </td>
            <td>
                <input type="button" id="usernae_button" value="重新获取数据" class="text_input" @click="get_name"/>
            </td>
            <td>
                <input type="button" id="copy_username" value="复制信息" class="copy_text" @click="copy_name"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>身份证号码:</p>
            </td>
            <td>
                <input id="id_card" name="id_card" class="text_input" v-model="id_card"/>
            </td>
            <td>
                <input type="button" id="id_card_button" value="重新获取数据" class="test_button" @click="get_card"/>
            </td>
            <td>
                <input type="button" id="copy_card" value="复制信息" class="copy_text" @click='copy_card'/>
            </td>
        </tr>
        <tr>
            <td>
                <p>电话号码:</p>
            </td>
            <td>
                <input id="phone" name="phone" class="text_input" v-model="phone"/>
            </td>
            <td>
                <input type="button" id="phone_button" value="重新获取数据" class="test_button" @click="get_phone"/>
            </td>
            <td>
                <input type="button" id="copy_phone" value="复制信息" class="copy_text" @click="copy_phone"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>社会统一征信码:</p>
            </td>
            <td>
                <input id="tyshzxm" name="tyshzxm" class="text_input" v-model="tyshzxm"/>
            </td>
            <td>
                <input type="button" id="tyshzxm_button" value="重新获取数据" class="test_button" @click="get_tyshzxm"/>
            </td>
            <td>
                <input type="button" id="copy_tyshzxm" value="复制信息" class="copy_text" @click="copy_tyshzxm"/>
            </td>
        </tr>
        <tr>
            <td>
                <P>组织机构代码:</P>
            </td>
            <td>
                <input id="zzjgdm" name="zzjgdm" class="text_input" v-model="zhjgdm"/>
            </td>
            <td>
                <input type="button" id="zzjgdm_button" value="重新获取数据" class="test_button" @click="get_zhjgdm"/>
            </td>
            <td>
                <input type="button" id="copy_zzjgdm" value="复制信息" class="copy_text" @click="copy_zhjgdm"/>
            </td>
        </tr>
        <tr>
            <td>
                <P>车辆车架号:</P>
            </td>
            <td>
                <input id="vin" name="vin" class="text_input" v-model="vin"/>
            </td>
            <td>
                <input type="button" id="vin_button" value="重新获取数据" class="test_button" @click="get_vin"/>
            </td>
            <td>
                <input type="button" id="copy_vin" value="复制信息" class="copy_text" @click="copy_vin"/>
            </td>
        </tr>
        <tr>
            <td>
                <P>中征码:</P>
            </td>
            <td>
                <input id="zzm" name="zzm" class="text_input" v-model="zzm"/>
            </td>
            <td>
                <input type="button" id="zzm_button" value="重新获取数据" class="test_button" @click="get_zzm"/>
            </td>
            <td>
                <input type="button" id="copy_zzm" value="复制信息" class="copy_text" @click="copy_zzm"/>
            </td>
        </tr>
        <tr>
            <td>
                <P>工行银行卡号:</P>
            </td>
            <td>
                <input id="gonghang" name="gonghang" class="text_input" v-model="gonghang"/>
            </td>
            <td>
                <input type="button" id="gonghang_button" value="重新获取数据" class="test_button" @click="get_gonghang"/>
            </td>
            <td>
                <input type="button" id="copy_gonghang" value="复制信息" class="copy_text" @click="copy_gonghang"/>
            </td>
        </tr>
        <tr>
            <td>
                <P>农行银行卡号:</P>
            </td>
            <td>
                <input id="nonghang" name="nonghang" class="text_input" v-model="nonghang"/>
            </td>
            <td>
                <input type="button" id="nonghang_button" value="重新获取数据" class="test_button" @click="get_nonghang"/>
            </td>
            <td>
                <input type="button" id="copy_nonghang" value="复制信息" class="copy_text" @click="copy_nonghang"/>
            </td>
        </tr>
        <tr>
            <td>
                <P>交行银行卡号:</P>
            </td>
            <td>
                <input id="jiaohang" name="jiaohang" class="text_input" v-model="jiaohang"/>
            </td>
            <td>
                <input type="button" id="jiaohang_button" value="重新获取数据" class="test_button" @click="get_jiaohang"/>
            </td>
            <td>
                <input type="button" id="copy_jiaohang" value="复制信息" class="copy_text" @click="copy_jiaohang"/>
            </td>
        </tr>
        <tr>
            <td>
                <P>中行银行卡号:</P>
            </td>
            <td>
                <input id="zhonghang" name="zhonghang" class="text_input" v-model="zhonghang"/>
            </td>
            <td>
                <input type="button" id="zhonghang_button" value="重新获取数据" class="test_button" @click="get_zhonghang"/>
            </td>
            <td>
                <input type="button" id="copy_zhonghang" value="复制信息" class="copy_text" @click="copy_zhonghang"/>
            </td>
        </tr>
        <tr>
            <td>
                <P>建行银行卡号:</P>
            </td>
            <td>
                <input id="jianshe" name="jianshe" class="text_input" v-model="jianhang"/>
            </td>
            <td>
                <input type="button" id="jianshe_button" value="重新获取数据" class="test_button" @click="get_jianhang"/>
            </td>
            <td>
                <input type="button" id="copy_jianshe" value="复制信息" class="copy_text" @click="copy_jianhang"/>
            </td>
        </tr>
    </table>
</form>
<a href="/">
    <h3>返回首页</h3>
</a>
<div id="gg">
    <p><b>告知：自动生成的测试数据仅用来测试，禁止用于非法途径。告知：自动生成的测试数据仅用来测试，禁止用于非法途径。
        告知：自动生成的测试数据仅用来测试，禁止用于非法途径。
    </b></p>
    <!--<embed type="text/html" src="./foot.html" width="100%" id=" foot"/>-->
    <!-- <object class="dd" type="text/x-scriptlet" data="./html/foot.html" width=100% height=30></object> -->
</div>
<script>
    var app = new Vue({
        el: "#get_message_form",
        data: {
            name: "name",
            id_card: "id_card",
            vin: "vin",
            phone: "phone",
            zzm: "zzm",
            zhjgdm: "zhjgdm",
            tyshzxm: "tyshzxm",
            zhonghang: "zhonghang",
            jianhang: "jianhang",
            nonghang: "nonghang",
            jiaohang: "jiaohang",
            gonghang: "gonghang",
            host:"127.0.0.1"
            // host:"106.14.227.119"
        },
        methods: {
            get_all: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.name = txt.data.name,
                                that.id_card = txt.data.id_card,
                                that.vin = txt.data.vin,
                                that.phone = txt.data.phone,
                                that.zzm = txt.data.zzm,
                                that.zhjgdm = txt.data.zhjgdm,
                                that.tyshzxm = txt.data.tyshzxm,
                                that.zhonghang = txt.data.zhonghang,
                                that.nonghang = txt.data.nonghang,
                                that.jiaohang = txt.data.jiaohang,
                                that.gonghang = txt.data.gonghang,
                                that.jianhang = txt.data.jianhang
                        }
                    )
            },
            get_name: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.name = txt.data.name
                        }
                    )
            },
            copy_name: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.name;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例
            },
            get_card: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.id_card = txt.data.id_card
                        }
                    )
            },
            copy_card: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.id_card;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例
            },
            get_vin: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.vin = txt.data.vin
                        }
                    )
            },
            copy_vin: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.vin;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例
            },
            get_phone: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.phone = txt.data.phone
                        }
                    )
            },
            copy_phone: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.phone;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例
            },
            get_zzm: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.zzm = txt.data.zzm
                        }
                    )
            },
            copy_zzm: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.zzm;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例
            },
            get_zhjgdm: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.zhjgdm = txt.data.zhjgdm
                        }
                    )
            },
            copy_zhjgdm: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.zhjgdm;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例
            },
            get_tyshzxm: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.tyshzxm = txt.data.tyshzxm
                        }
                    )
            },
            copy_tyshzxm: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.tyshzxm;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例
            },
            get_zhonghang: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.zhonghang = txt.data.zhonghang
                        }
                    )
            },
            copy_zhonghang: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.zhonghang;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例
            },
            get_jianhang: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.jianhang = txt.data.jianhang
                        }
                    )
            },
            copy_jianhang: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.jianhang;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例
            },
            get_nonghang: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.nonghang = txt.data.nonghang
                        }
                    )
            },
            copy_nonghang: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.nonghang;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例
            },
            get_jiaohang: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.jiaohang = txt.data.jiaohang
                        }
                    )
            },
            copy_jiaohang: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.jiaohang;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例

            },
            get_gonghang: function () {
                var that = this;
                axios.get("http://"+that.host+"/get_message")
                    .then(
                        function (txt) {
                            that.gonghang = txt.data.gonghang
                        }
                    )
            },
            copy_gonghang: function () {
                var input1 = document.createElement("input");   // 直接构建input
                input1.value = this.gonghang;  // 设置内容
                document.body.appendChild(input1)
                input1.select();   // 选择实例内容
                document.execCommand("Copy");   // 执行复制
                document.body.removeChild(input1); // 删除临时实例
            }
        },
        mounted: function () {
            var that = this;
            axios.get("http://"+that.host+"/get_message")
                .then(
                    function (txt) {
                            that.name = txt.data.name,
                            that.id_card = txt.data.id_card,
                            that.vin = txt.data.vin,
                            that.phone = txt.data.phone,
                            that.zzm = txt.data.zzm,
                            that.zhjgdm = txt.data.zhjgdm,
                            that.tyshzxm = txt.data.tyshzxm,
                            that.zhonghang = txt.data.zhonghang,
                            that.nonghang = txt.data.nonghang,
                            that.jiaohang = txt.data.jiaohang,
                            that.gonghang = txt.data.gonghang,
                            that.jianhang = txt.data.jianhang
                    }
                )
        }
    })
</script>
</body>
</html>
