<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>monkey命令生产</title>
    <style type="text/css">
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        h1{
            text-align: center;
        }
        h3{
            text-align: right;
        }
    </style>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                <h1>正在开发中，预计2021年1月前上线</h1>
            </td>

        </tr>
        <tr>
            <td>
                <a href="index1.html">
                    <h3>返回首页</h3>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>