<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI定位方式练习</title>
    <style type="text/css">
        span {
            text-align: center;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        li{
            /*display:inline-block;*/
            list-style:none;
            text-align: center;
        }
        #mid{
            text-align: right;
        }
    </style>
</head>
<body>
<div>
    <table width="100%">
        <tr>
            <td>
                <span style="font-size: 28px"><h1>UI定位方式练习</h1></span>
                <hr size="8" color="gray">

                <span style="font-size: 18px;"><h1>练习目录</h1></span> <br/>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li >
                        <a href="location.html"><h2>定位方法测试页面</h2></a>
                    </li>
                    <li>
                        <a href="webelements.html"><h2>页面元素操作练习</h2></a>
                    </li>
                    <li>
                        <a href="10seconds.html"><h2>加载需要10s的页面(TBD)</h2></a>
                    </li>
                    <li>
                        <a href="frame.html"><h2>Frame框架页面</h2></a>
                    </li>
                    <li>
                        <a href="http://www.baidu.com" target="_blank"><h2>开启一个新tab页面</h2></a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <a href="index1.html" id="mid">
                    <h3>返回首页</h3>
                </a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>