<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>页面元素操作练习页面</title>
    <script type="text/javascript">
        function showAndHidden1() {
            var div1 = document.getElementById("div1");
            var div2 = document.getElementById("div2");
            if (div1.style.display == "block") {
                div1.style.display = 'none';
            } else {
                div1.style.display = 'block';
            }
            if (div2.style.display == "block") {
                div2.style.display = 'none';
            } else {
                div2.style.display = 'block';
            }
        }
        function showAndHidden2() {
            var div3 = document.getElementById("div3");
            var div4 = document.getElementById("div4");
            if(div3.style.visibility == 'visible'){
                div3.style.visibility = 'hidden';
            } else {
                div3.style.visibility = 'visible';
            }
            if(div4.style.visibility == 'visible'){
                div4.style.visibility = 'hidden';
            } else {
                div4.style.visibility = 'visible';
            }
        }
        function changeInputText() {
            document.getElementById("text").value = "改变了";
        }
        function dbclick() {
            var bt = document.getElementById("context_click");
            bt.style.background = "red";
        }
        function getInputContent(input_type) {
            if (input_type === "text"){
                document.getElementById("1_1_msg").innerText = "输入的值为：" + document.getElementById("1_1").value;
            } else if (input_type === 'password') {
                document.getElementById("1_2_msg").innerText = "输入的值为：" + document.getElementById("1_2").value;
            } else if (input_type === 'email') {
                document.getElementById("1_3_msg").innerText = "输入的值为：" + document.getElementById("1_3").value;
            }
        }
        function selectFunction() {
            let ele_select = document.getElementById("fruit");
            let select_index = ele_select.selectedIndex;
            let selected_data = {index: select_index, value: ele_select.options[select_index].value, text: ele_select.options[select_index].text};
            document.getElementById("1_4_msg").innerText = "选中的值为：" + JSON.stringify(selected_data);
        }
    </script>
</head>
<body>
    <h1>UI自动化练习 - Elements</h1>
    <hr size="8" color="gray">
    <div>
        <span style="font-size: 28px;">1.常用控件操作</span>
        <div>
            <span>文本输入：</span>
            <input id='1_1' type="text">
            <input type="button" value="点击" onclick="getInputContent('text')">
            <label id="1_1_msg">输入的值为：</label>
        </div>
        <div>
            <span>密码输入：</span>
            <input id='1_2' type="password">
            <input type="button" value="点击" onclick="getInputContent('password')">
            <label id="1_2_msg">输入的值为：</label>
        </div>
        <div>
            <span>邮箱输入：</span>
            <input id='1_3' type="email">
            <input type="button" value="点击" onclick="getInputContent('email')">
            <label id="1_3_msg">输入的值为：</label>
        </div>
        <div>
            <span>下拉列表：</span>
            <select id="fruit" size="1" onchange="selectFunction()">
                <option id="peach" value="taozi">桃子</option>
                <option id="watermelon" value="xigua">西瓜</option>
                <option id="orange" value="chengzi">橘子</option>
                <option id="kiwifruit" value="mihoutao">猕猴桃</option>
                <option id="maybush" value="shanzha">山楂</option>
                <option id="litchi" value="lizhi">荔枝</option>
            </select>
            <label id="1_4_msg">输入的值为：</label>
        </div>
        <div>
        <span>单选按钮：</span>
            <input type="radio" name="fruit" value="berry"/>草莓
            <input type="radio" name="fruit" value="watermelon"/>西瓜
            <input type="radio" name="fruit" value="orange"/>橙子
        </div>
        <div>
            <span>复选按钮：</span>
            <input type="checkbox" name="fruit2" value="berry"/>草莓
            <input type="checkbox" name="fruit2" value="watermelon"/>西瓜
            <input type="checkbox" name="fruit2" value="orange"/>橙子
        </div>
    </div>
    <hr>
    <div>
        <span style="font-size: 28px;">2.元素显示状态判断：visible/hidden </span>
        <div>
            <div id="div1" style="display: block;">当前显示的是DIV1</div>
            <div id="div2" style="display: none;">当前显示的是DIV2</div>
            <input id="button1" type="button" onclick="showAndHidden1();" value="DIV切换">
        </div>
    </div>
    <hr>
        <div>
            <span style="font-size: 28px;">3.元素可用状态判断：enable/disable/readonly </span>
            <div>
                <span>可&nbsp;&nbsp;&nbsp;&nbsp;用：</span>
                <input type="text" size="40" value="用于判断的默认值：可用"/>
            </div>
            <div>
                <span>不可用：</span>
                <input type="text" size="40" value="用于判断的默认值：不可用" disabled />
            </div>
            <div>
                <span>只&nbsp;&nbsp;&nbsp;&nbsp;读：</span>
                <input type="text" size="40" value="用于判断的默认值：只读" readonly>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <span style="font-size: 28px;">4.元素属性变更</span>
        <div>
            <span>变更文本： </span>
            <input type="text" id="text" value="文本框默认内容"/>
            <input type="button" id="button" value="改变文本框文字" onclick="changeInputText()"/>
        </div>
        <div>
            <span>变更样式：</span>
            <input id="context_click" type="button" value="双击我会变红的" ondblclick="dbclick()">
        </div>
    </div>
    <hr>
    <div>
        <span style="font-size: 28px;">5.JavaScript 弹框操作：alert/confirm</span>
        <div>
            <span>JS alert 和 confirm</span>
            <input type="button" onclick="alert('这是一个alert弹窗')" value="Alert弹窗">
            <input type="button" onclick="confirm('这是一个confirm弹窗')" value="confirm弹窗">
        </div>
    </div>
    <a href="test_all.html">返回上一页</a>
    <a href="index1.html">
    <h3>返回首页</h3>
    </a>
</body>
</html>